.container{
    width: 90%;
    height: 40%;
    border-color: black;
    
}
.header{
    margin-left: 30px ;
    display: flex;
    width:95%;
    height: 100px;
    background-color: rgb(69, 145, 107);
    
}
h1{
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px;
    font-size: 70px;
    
}
.content{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width:1260px;
    height: 776px;
    background-color:white;
    box-sizing: border-box;
}
.block_1{
    display: inline-block;
    width: 810px;
    margin-right: 40px;
    align-self: stretch;
    
}
p{
    padding-left: 10px;
}
h4{
    color: brown;
    padding-left: 10px;
}
.block-vert-line{
    border-left:2px dashed black;

}


.block_2{
    display: flex;
    height: 776px;
    width:400px;
    margin-left: 60px;
    margin-bottom: 700px;
    background-color: gainsboro;

    
}
li{
    color:blue;
    padding-bottom: 20px;
}
.footer{
    width: 1260px;
    height: 80px;
    margin-left: 30px;
    background-color: rgb(69, 145, 107);
    padding-top: 0%;
   
}
h2{
    color: white;
    margin-top: 0%;
    padding-left: 10px;
}